body{
	color: #ffffff;
	font-family: Lato, Arial, sans-serif;
}
.clear{
	clear:both;
}
.vcenter {
  height: 85vh;
  position: relative;
}
a{
	text-decoration: none;
}
#header{
	height: 15vh;
	min-height: 50px;	
}
.home-wraper{
	background-color: #000000;
	height: 100vh;
}
.lang-box{
	float:right;
}
.language{
	margin-bottom: 0px;
}
.language a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.language li{
	padding: 5px 5px;
}
li{
	display: inline-block;
	margin: 0 5px;
}
.logo p{
	font-family: Coca, Arial, sans-serif;
	font-size: 24px;
	float:left;
}
.logo a{
	text-decoration: none;
	color: #ffffff;

}
.logo span{
	color: #fcac45;
}
#nav-wraper{
	float:right;
	position: relative;
}
#nav-wraper li{
	display: inline-block;
	margin: 0px;
	border-bottom: 3px solid transparent;
	height: 45px;
}
#nav-wraper li a{
	text-transform: uppercase;
	color:  #ffffff;
	font-size: 14px;
	font-family: Lato, Arial, sans-serif;
	font-weight: 900;
	padding: 0px 10px;
	height: 100%;
	padding-top: 10px;
}
#nav-wraper li a:hover{
   background: rgba(255, 255, 255, 0.3);
   transition: all 0.2s;
}
#nav-wraper .activ{
	border: none;
}
#nav-wraper .activ:before{
	content: '';
	width: 50%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0px;
	background-color: #292929;
}
#nav-wraper .activ:after{
	content: '';
	width: 50%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	right: 0px;
	background-color:#fcac45;
}
.my-present{
	position: absolute;
	top: 40%;
}
.my-present p{
	color: #d5d5d5;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 0px;
	font-size:20px; 
}
.my-present h1{
	font-family: OpenSans, Arial, sans-serif;
	color: #999999;
	font-weight: 100;
	margin-top: 20px;
	font-size: 44px;
}
.arrow-box {
	background: url(../image/arrow-bottom.png) center no-repeat;
	width: 13px;
	height: 14px;
	display: inline-block;
}
.bottom-down-box{
	position: absolute;
	width: 100%;
	display: inline-block;
	bottom: 15%;
}
.bottom-down{
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #c3c3c3;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}
.bottom-down:hover{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    -moz-transform:  translateY(5px);
    -ms-transform:  translateY(5px);
    -webkit-transform:  translateY(5px);
    -o-transform:  translateY(5px);
    transform:  translateY(5px);
    transition: all 0.2s;
}
