body{
	color: #ffffff;
	font-family: Lato, Arial, sans-serif;
	background: #ffffff;
}
.clear{
	clear:both;
}
.vcenter {
  height: 85vh;
  position: relative;
}
a{
	text-decoration: none;
}
#header{
	height: 15vh;
	min-height: 50px;	
}
.home-wraper{
	background-color: #000000;
	height: 100vh;
}
.lang-box{
	float:right;
}
.language{
	margin-bottom: 0px;
}
.language a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}
.language li{
	padding: 5px 5px;
}
li{
	display: inline-block;
	margin: 0 5px;
}
.logo p{
	font-family: Coca, Arial, sans-serif;
	font-size: 24px;
	float:left;
}
.logo a{
	text-decoration: none;
	color: #ffffff;

}
.logo span{
	color: #fcac45;
}
#nav-wraper{
	float:right;
	position: relative;
}
#nav-wraper li{
	display: inline-block;
	margin: 0px;
	border-bottom: 3px solid transparent;
	height: 45px;
}
#nav-wraper li a{
	text-transform: uppercase;
	color:  #ffffff;
	font-size: 14px;
	font-family: Lato, Arial, sans-serif;
	font-weight: 900;
	padding: 0px 10px;
	height: 100%;
	padding-top: 10px;
}
#nav-wraper li a:hover{
   background: rgba(255, 255, 255, 0.3);
   transition: all 0.2s;
}
#nav-wraper .activ{
	border: none;
}
#nav-wraper .activ:before{
	content: '';
	width: 50%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0px;
	background-color: #292929;
}
#nav-wraper .activ:after{
	content: '';
	width: 50%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	right: 0px;
	background-color:#fcac45;
}
.my-present{
	position: absolute;
	top: 40%;
}
.my-present p{
	color: #d5d5d5;
	font-family: OpenSans, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 0px;
	font-size:20px; 
}
.my-present h1{
	font-family: OpenSans, Arial, sans-serif;
	color: #999999;
	font-weight: 100;
	margin-top: 20px;
	font-size: 44px;
}
.arrow-box {
	background: url(../image/arrow-bottom.png) center no-repeat;
	width: 13px;
	height: 14px;
	display: inline-block;
}
.bottom-down-box{
	position: absolute;
	width: 100%;
	display: inline-block;
	bottom: 15%;
}
.bottom-down{
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #c3c3c3;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}
.bottom-down:hover{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    -moz-transform:  translateY(5px);
    -ms-transform:  translateY(5px);
    -webkit-transform:  translateY(5px);
    -o-transform:  translateY(5px);
    transform:  translateY(5px);
    transition: all 0.2s;
}
.servis-wrap{
	padding: 100px 0px;
}
.all-title-wrap{
	color: #222222;
	text-transform: uppercase;
	text-align: center;
}
.first-line{
	height: 3px;
	margin: 0 auto 10px auto;
	width: 100px;
	background: #fcac45;
}
.second-line{
	height: 3px;
	margin: 0 auto 40px auto;
	width: 65px;
	background: #fdc57c;
}
.all-title-wrap h2{
	font-weight: 300;
}
.all-title-wrap strong{
	font-weight: 500;
}
.all-title-wrap p{
	font-style:italic;
	text-transform: none;
	font-style: 16px;
	margin-bottom: 100px;
}
.servis-item{
	color: #000;
	display: inline-block;
}
.item-logo{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid #fcac45;
	margin: 15px auto;
	text-align:center;
}
.item-logo>.glyphicon{
	line-height: 110px;
	font-size:40px;
}
.item-title{
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}
.item-text{
	text-align: center;
	margin: 5px 0;
}

/*-----------------------#clients start-----------------------*/

#clients{
	background: #000000;
    padding: 100px 0px;

}
#clients h2{
	color: #ffffff;	
}
#clients p{
	color: #b6b6b6;	
}
#clients .second-line{
	background: #b47c34;	
}
.slider{
	position: relative;
	padding: 0 50px;
}
.slider-content{
	position: relative;
	overflow: hidden;
}
.slider-item{
	position: absolute;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.slider-button{
	width: 70px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	outline: none;
	height: 50%;
	background: none;
    border: none;
	background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-button-prev{
	left: -20px;
	background-image: url('../image/button-left-BG.png');
}
.slider-button-next{
	right: -20px;
	background-image: url('../image/button-right-BG.png');
}
.slider-button-next:hover{
	background-position: right;

}
.slider-button-prev:hover{
	background-position: left;
}
.slider-button-prev, .slider-button-next, .slider-button-next:hover, .slider-button-prev:hover{
	transition: background-position 0.2s ease-out;
}
.no-activ-left{
	background-image: url('../image/button-left-noActiv-BG.png');
	transition: background-image 0.5s ease-out;
}
.no-activ-right{
	background-image: url('../image/button-right-noActiv-BG.png');
	transition: background-image 0.5s ease-out;
}
.slider-button.disabled{
	background: gray;
	border: gray;
	opasity: 0.5;
}
.slider-content{
	height:300px;
}
.slider-item{
	width: 100%;
	overflow: hidden;
	line-height: 300px;
}

/*----------------------------#clients end----------------------*/

/*----------------------------#myWorks start----------------------*/
#myWorks{
	padding: 100px 0;
}
.myWork-item{
	width: 100%;
	height: 600px;
}
.carousel-control{
	width: 10%;
}
.but-work-right{
	background-image: url('../image/button-work-left-BG.png');
	left: 20px;
}
.but-work-left{
	background-image: url('../image/button-work-right-BG.png');
	right: 20px;
}
.but-work-right, .but-work-left{
	position: absolute;
    top: 40%;
    width: 50px;
    height: 25%;
    background-size: 90%;
    background-repeat: no-repeat;
}
.carousel-control.right, .carousel-control.left{
	background-image: none;
}
.carousel-control.right:hover{
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0, rgba(0,0,0,.2) 100%);
}
.carousel-control.left:hover{
	background-image: linear-gradient(to right,rgba(0,0,0,.2) 0, rgba(0,0,0,.0001) 100%);
}
/*----------------------------#myWorks end----------------------*/
